*{margin:0;padding:0;}
body{background:#F4D7C7;}
 .header{width:1349px;height:170px;
 background:url(../img/header.png);}
.couple_nav{width:100%;margin-bottom:10px;
height:1200px;}
.couple_nav img{width:400px;height:400px;}
.couple_banner{width:100%;height:1600px;
margin-top:50px;}

.couple_banner img{width:300px;height:300px;}
/*********尾部*（弹性盒子布局）***************/
    .layout{width:1205px;margin:0 auto;}
	#footer{
		width:100%;
		height:265px;
		background:#282828;
	}
	#footer .footer_t{
		height:185px;
		border-bottom: 1px solid #3e3e3e;
		display: flex;/*弹性盒子*/
	}
	#footer .footer_t .div1{width:260px;}
	#footer .footer_t .div1 ul li{
		float: left;
		margin:25px 16px 0 0;
		font-size:12px;
		text-align: center;
	}
	#footer .footer_t .div1 ul li a{color:#B5B5B6;}
	#footer .footer_t .div1 ul li a:hover{
		color:#CA9A61;
		text-decoration: underline;
	}
	
	#footer .footer_t .div2{
		flex: 1;
		display: flex; /*弹性盒子*/
		font-size:12px;
	}
	#footer .footer_t .div2 ul{
		flex: 1;
		margin-top:45px;
		height:110px;
	}
	#footer .footer_t .div2 ul:last-child{border-right:1px solid #3e3e3e;}
	#footer .footer_t .div2 ul li{
		margin:10px 0;
		text-align: center;
		color:#fff;
	}
	#footer .footer_t .div2 ul li a{color:#B5B5B6;}
	#footer .footer_t .div2 ul li a:hover{
		color:#CA9A61;
		text-decoration: underline;
	}	
	#footer .footer_t .div3{
		width:220px;
		height:110px;
		margin-top:45px;
		color:#B5B5B6;
		font-size:12px;
		text-align: left;
	}
	#footer .footer_t .div3 p{
		margin-bottom: 10px;
		margin-left: 30px;
	}
	#footer .footer_t .div3 p:first-child{font-size:16px;}

	#footer .footer_b {font-size:12px;}
	#footer .footer_b a{
		color:#B5B5B6;
		display: inline-block;
		margin:10px 10px 0 0;
	}
	#footer .footer_b a:hover{
		color:#CA9A61;
		text-decoration: underline;
	}
	
	#footer .footer_b .links .p1{
		float: left;
		width:190px;
		margin-left:50px;
	}
	#footer .footer_b .links .lianjie{width:848px;overflow: hidden;}
	
	#footer .footer_b .links .p2{text-align: center;color:#B5B5B6;}
	
